<script src="~/Scripts/Events/eventDetails.js"></script>
<div ng-controller="eventDetailsController">
    <h2>{{currEvent.Name}}</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                Date
            </dt>

            <dd>
                {{currEvent.Date}}
            </dd>

            <dt>
                EventType
            </dt>

            <dd>
                {{currEvent.EventType}}
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                {{currEvent.Name}}
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                {{currEvent.Description}}
            </dd>

            <dt>
                DJ name
            </dt>

            <dd>
                {{currEvent.DJ.Name}}
            </dd>

            <dt>
                Playlist
            </dt>

            <dd>
                {{currEvent.Playlist.Name}}
            </dd>

            <dt>
                User
            </dt>

            <dd>
                {{currEvent.User.Name}}
            </dd>

        </dl>
    </div>
    <p>
        <span>edit</span>
        <span>baclTolist</span>
    </p>
</div>