<script type="text/javascript" src="~/Scripts/Events/eventDetailsController.js"></script>
<script src="~/Scripts/DJs/DjPlaylistDirective.js"></script>
<div ng-controller="eventDetailsController">
    <h2>{{currEvent.evnt.Name}}</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                Date
            </dt>

            <dd>
                {{currEvent.evnt.Date}}
            </dd>

            <dt>
                EventType
            </dt>

            <dd>
                {{currEvent.evnt.EventType}}
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                {{currEvent.evnt.Name}}
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                {{currEvent.evnt.Description}}
            </dd>

            <dt>
                DJ name
            </dt>

            <dd>
                {{currEvent.dj_name}}
            </dd>
        </dl>
    </div>
    <div ng-if="currPlaylist!=undefined">
        <dj-playlist-directive playlist="currPlaylist" editable=true removeSong="removeSongFromPlaylist"></dj-playlist-directive>
    </div>
    <p>
        <span ng-click="backToList()">back to my events list</span>
    </p>
</div>