<link rel="stylesheet" type="text/css" href="~/Content/DJProfile.css">

<div class="dj-profile-header row">
    <div class="dj-profile-img-container col">
        <img class="dj-profile-img" src="~/Content/Images/Skazi.jpg" />
    </div> 
    <div class="dj-profile-header-details col">
        <div class="dj-profile-name row">
            <h2>Skazi</h2>
        </div>
        <div class="dj-profile-header-row row">
            <img class="dj-profile-icon" src="~/Content/Icons/location.png" />
            <span>Tel Aviv</span>
        </div>
        <div class="dj-profile-header-row row">
            <img class="dj-profile-icon" src="~/Content/Icons/money.png" />
            <span>1000$ - 1500$</span>
        </div>
        <div class="dj-profile-header-row row">
            <img class="dj-profile-icon" src="~/Content/Icons/star.png" />
            <span>4.3</span>
        </div>
        <div class="dj-profile-header-row row">
            <img class="dj-profile-icon" src="~/Content/Icons/laptop.png" />
            <a href="http://www.skazi.com">http://www.skazi.com</a>
        </div>
        <div class="dj-profile-header-row dj-profile-networks row">
            <a href="">
                <img alt="facebook" class="dj-profile-icon" src="~/Content/Icons/facebook.png" />
            </a>
            <a href="">
                <img alt="instagram" class="dj-profile-icon" src="~/Content/Icons/instagram.png" />
            </a>
        </div>
    </div>
</div>
<div>
    <hr />
    <div class="dj-profile-reviews-container">
        <div class="dj-profile-review">
            <div class="dj-profile-review-header row">
                <img class="dj-profile-icon dj-profile-review-icon" src="~/Content/Icons/star.png" />
                <span>5</span>
            </div>
            <span class="row dj-profile-review-name">Michal Teverovsky, 15/5/2017</span>
            <span class="row dj-profile-review-text">"Best DJ ever, so fab and handsome!"</span>
        </div>
    </div>
    <div class="dj-profile-reviews-container">
        <div class="dj-profile-review">
            <div class="dj-profile-review-header row">
                <img class="dj-profile-icon dj-profile-review-icon" src="~/Content/Icons/star.png" />
                <span>4.2</span>
            </div>
            <span class="row dj-profile-review-name">Bar Vilek, 15/5/2017</span>
            <span class="row dj-profile-review-text">"Overall we had a very cool experience, thank you Skazush"</span>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
