
<script src="~/Scripts/DJs/djProfile.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/DJProfile.css">

<div ng-controller="djProfileController">
    <div class="dj-profile-header row">
        <div class="dj-profile-img-container col">
            <img class="dj-profile-img" src="~/Content/Images/Skazi.jpg" />
        </div>
        <div class="dj-profile-header-details col">
            <div class="dj-profile-name row">
                <h2>{{currentDJ.Name}}</h2>
            </div>
            <div class="dj-profile-header-row row">
                <img class="dj-profile-icon" src="~/Content/Icons/location.png" />
                <span>{{currentDJ.Address}}</span>
            </div>
            <div class="dj-profile-header-row row">
                <img class="dj-profile-icon" src="~/Content/Icons/money.png" />
                <span>{{currentDJ.PriceMin}}$ - {{currentDJ.PriceMax}}$</span>
            </div>
            <div class="dj-profile-header-row row">
                <img class="dj-profile-icon" src="~/Content/Icons/star.png" />
                <span>4.3</span>
            </div>
            <div class="dj-profile-header-row row">
                <img class="dj-profile-icon" src="~/Content/Icons/laptop.png" />
                <a href={{currentDJ.WebSite}}>{{currentDJ.WebSite}}</a>
            </div>
            <div class="dj-profile-header-row dj-profile-networks row">
                <a href={{currentDJ.FacebookPage}}>
                    <img alt="facebook" class="dj-profile-icon" src="~/Content/Icons/facebook.png" />
                </a>
                <a href={{currentDJ.IGProfile}}>
                    <img alt="instagram" class="dj-profile-icon" src="~/Content/Icons/instagram.png" />
                </a>
            </div>
        </div>
    </div>
    <div>
        <hr />
        <div class="dj-profile-reviews-container" ng-repeat="review in currentDJ.Reviews">
            <div class="dj-profile-review">
                <div class="dj-profile-review-header row">
                    <img class="dj-profile-icon dj-profile-review-icon" src="~/Content/Icons/star.png" />
                    <span>{{review.Score}}</span>
                </div>
                <span class="row dj-profile-review-name">{{review.User.Name}}, {{review.Date}}</span>
                <span class="row dj-profile-review-text">{{review.Text}}</span>
            </div>
        </div>
    </div>
</div>