<span ng-if='songs.length == 0'>Add songs to your playlist!</span>
<table class='table dj-playlist-table' ng-if='songs.length > 0'>
    <thead>
        <tr>
            <th>Song name</th>
            <th>Artist</th>
            <th ng-if='editable'>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='song in songs'>
            <td>{{ song.Name }}</td>
            <td>{{ song.Artist }}</td>
            <td ng-if='editable'><button ngclick='removeSong(song.id)'><span class='glyphicon glyphicon-remove'></span></button></td>
        </tr>
    </tbody>
</table>
<button class='addSong btn btn-success' ng-if='editable'>
    <span class='glyphicon glyphicon-plus'></span>add a song
    </buton>
