
<script src="~/Scripts/DJs/djs.js"></script>
<script src="~/Scripts/DJs/DjPlaylistDirective.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div ng-controller="djsController">
        <div ng-if="loading" class="loaderDiv">
            <div class="loader"></div>
            <h2>Loading...</h2>
        </div>
        <div ng-if="!loading">
            <div ng-if="currentDJ == undefined">
                <center>
                    <div class="w3-row-padding w3-grayscale" ng-if="recommended != undefined">
                        <h1>Our recommended DJ</h1>
                        <div class="djDiv recommended">
                            <img src="~/Content/Images/{{recommended.ID}}.jpg" class="photo">
                            <h3>DJ {{recommended.Name}}</h3>
                            <p>{{recommended.ExperienceYears}} years of experience</p>
                            <p>{{recommended.PriceMin}}$ - {{recommended.PriceMax}}$</p>
                            <p>Plays {{recommended.Genres}}</p>
                            <a ng-click="displayDetails(recommended.ID)">Details</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div>
                        <h1>Optional DJs</h1>
                        <div ng-repeat="eachDJ in djsList" class="djsOverview">
                            <div class="djDiv">
                                <img src="~/Content/Images/{{eachDJ.ID}}.jpg" class="photo">
                                <h3>DJ {{eachDJ.Name}}</h3>
                                <p>{{eachDJ.ExperienceYears}} years of experience</p>
                                <p>{{eachDJ.PriceMin}}$ - {{eachDJ.PriceMax}}$</p>
                                <p>Plays {{eachDJ.Genres}}</p>
                                <a ng-click="displayDetails(eachDJ.ID)">Details</a>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div ng-if="currentDJ != undefined">
                <link rel="stylesheet" type="text/css" href="~/Content/DJProfile.css">
                <div class="dj-profile-header row no-gutters">
                    <div class="dj-profile-img-container col">
                        <img class="dj-profile-img" src="~/Content/Images/{{currentDJ.ID}}.jpg" />
                    </div>
                    <div class="dj-profile-header-details col">
                        <div class="dj-profile-name row">
                            <h2>DJ {{currentDJ.Name}}</h2>
                        </div>
                        <div class="dj-profile-header-row row">
                            <img class="dj-profile-icon" src="~/Content/Icons/location.png" />
                            <span>{{currentDJ.Address}}</span>
                        </div>
                        <div class="dj-profile-header-row row">
                            <img class="dj-profile-icon" src="~/Content/Icons/money.png" />
                            <span>{{currentDJ.PriceMin}}$ - {{currentDJ.PriceMax}}$</span>
                        </div>
                        <div class="dj-profile-header-row row">
                            <img class="dj-profile-icon" src="~/Content/Icons/star.png" />
                            <span ng-if="currentDJ.Rate >= 0">{{currentDJ.Rate}}</span>
                            <span ng-if="currentDJ.Rate < 0">The DJ hasn't been rated yet</span>
                        </div>
                        <div class="dj-profile-header-row row">
                            <img class="dj-profile-icon" src="~/Content/Icons/laptop.png" />
                            <a href="{{currentDJ.WebSite}}">DJ's website</a>
                        </div>
                        <div class="dj-profile-header-row dj-profile-networks row">
                            <a href="{{currentDJ.FacebookPage}}">
                                <img alt="facebook" class="dj-profile-icon" src="~/Content/Icons/facebook.png" />
                            </a>
                            <a href="{{currentDJ.IGProfile}}">
                                <img alt="instagram" class="dj-profile-icon" src="~/Content/Icons/instagram.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters dj-profile-details-container">
                    <div class="col">
                        <h1>Reviews</h1>
                        <h4 ng-if="currentDJ.Reviews.length == 0">No reviews on {{currentDJ.Name}}</h4>
                        <div ng-repeat="eachReview in currentDJ.Reviews" class="dj-profile-reviews-container">
                            <div class="dj-profile-review">
                                <div class="dj-profile-review-header row">
                                    <img class="dj-profile-icon dj-profile-review-icon" src="~/Content/Icons/star.png" />
                                    <span>{{eachReview.Score}}</span>
                                </div>
                                <span class="row dj-profile-review-name">{{getUserName(eachReview.UserID)}}, {{getDate(eachReview.Date)}}</span>
                                <span class="row dj-profile-review-text">{{eachReview.Text}}</span>
                            </div>
                        </div>
                        <center>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reviewModal">Add your review</button>
                        </center>
                        <!-- Modal -->
                        <div id="reviewModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add review</h4>
                                    </div>
                                    <div class="modal-body">
                                        <center>
                                            <textarea rows="4" cols="100" id="reviewText" ng-model="review.reviewText" placeholder="add your review.."></textarea>
                                            <br />
                                            <br />
                                            Choose your rate:
                                            <div class="star-rating">
                                                <span class="glyphicon glyphicon-star" ng-click="checkStar($event)"></span>
                                                <span class="glyphicon glyphicon-star" ng-click="checkStar($event)"></span>
                                                <span class="glyphicon glyphicon-star" ng-click="checkStar($event)"></span>
                                                <span class="glyphicon glyphicon-star" ng-click="checkStar($event)"></span>
                                                <span class="glyphicon glyphicon-star" ng-click="checkStar($event)"></span>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveReview()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ng-if="currentDJ.DefaultPlaylists.length > 0">
                        <h1>{{currentDJ.Name}}'s Playlists</h1>
                        <div ng-repeat="eachPlaylist in currentDJ.DefaultPlaylists" class="dj-profile-reviews-container">
                            <dj-playlist-directive playlist="eachPlaylist.ID" editable=false></dj-playlist-directive>
                            <center>
                                <button class="btn btn-success" ng-click="createEventPage(eachPlaylist)">Create an event</button>
                            </center>
                        </div>
                    </div>
                    <a ng-click="backToList()">back to DJs list</a>
                </div>
            </div>
        </div>
    </div>
</body>