USE [master]
GO
/****** Object:  Database [DJ_Match]    Script Date: 12/23/2017 12:25:54 PM ******/
CREATE DATABASE [DJ_Match]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DJ_Match', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DJ_Match.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DJ_Match_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DJ_Match_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DJ_Match].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DJ_Match]
GO
USE [DJ_Match]
GO
/****** Object:  Table [dbo].[DJs]    Script Date: 12/23/2017 12:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DJs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[ExperienceYears] [int] NULL,
	[PriceMin] [int] NULL,
	[PriceMax] [int] NULL,
	[Genres] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[PhoneNum] [nvarchar](20) NULL,
	[WebSite] [nvarchar](256) NULL,
	[FacebookPage] [nvarchar](256) NULL,
	[IGProfile] [nvarchar](256) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_DJs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 12/23/2017 12:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DJ_ID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12/23/2017 12:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DJ_ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Text] [text] NULL,
	[Score] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 12/23/2017 12:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Artist] [nvarchar](50) NULL,
	[Genre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongsToPlaylists]    Script Date: 12/23/2017 12:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsToPlaylists](
	[SongID] [int] NOT NULL,
	[PlaylistID] [int] NOT NULL,
	[Tags] [nvarchar](256) NULL,
 CONSTRAINT [PK_SongsToPlaylists] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC,
	[PlaylistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/23/2017 12:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNum] [nvarchar](25) NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_DJs] FOREIGN KEY([DJ_ID])
REFERENCES [dbo].[DJs] ([ID])
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_DJs]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_DJs] FOREIGN KEY([DJ_ID])
REFERENCES [dbo].[DJs] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_DJs]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[SongsToPlaylists]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylists_Playlists] FOREIGN KEY([PlaylistID])
REFERENCES [dbo].[Playlists] ([ID])
GO
ALTER TABLE [dbo].[SongsToPlaylists] CHECK CONSTRAINT [FK_SongsToPlaylists_Playlists]
GO
ALTER TABLE [dbo].[SongsToPlaylists]  WITH CHECK ADD  CONSTRAINT [FK_SongsToPlaylists_Songs] FOREIGN KEY([SongID])
REFERENCES [dbo].[Songs] ([ID])
GO
ALTER TABLE [dbo].[SongsToPlaylists] CHECK CONSTRAINT [FK_SongsToPlaylists_Songs]
GO
USE [master]
GO
