
.dj-profile-header {
    display: -webkit-box;
    padding: 0 5vw;
    padding: 45px 5vw;
    margin-top: -50px;
    background-image: url("Images/pineapples.jpg");
    background-repeat: repeat;
    text-decoration-color: #f9f9f9;
}

.dj-profile-img-container {
    max-width: 200px;
    max-height: 200px;
}

.dj-profile-img {
    width: 100%;
    border-radius: 8px;
}

.dj-profile-header-details {
    margin-left: 3vw;
}

.dj-profile-name {
    margin-top: -22px;
}

.dj-profile-icon {
    width: 1.7vw;
}

.dj-profile-header-row {
    margin-top: 1vh;
}

.dj-profile-networks {
    margin-top: 10px;
}

.dj-profile-reviews-container {
    margin-left: 25px;
}

.dj-profile-review {
    width: 700px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 5px 0 0 15px;
    margin-bottom: 20px;
}

.dj-profile-review-header {
    margin: 0;
    display: -webkit-box;
    font-size: 22pt;
}

.dj-profile-review-icon {
    margin-top: -10px;
}

.dj-profile-review-name {
    margin: 0px;
}

.dj-profile-review-text {
    font-style: italic
}