body {
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 2px 0px 0px 20px;
}

button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

button:hover {
    background-color: #ddd;
    color: black;
}

.round {
    border-radius: 50%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-icon {
    background-image: url("../App_LocalResources/icon.png");
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav a {
    font-size: 20px;
    padding-left : 0px;
}

.logo {
    width: 200px;   
    margin-bottom: 20px;
}

.photo
{
    width:90%;
    border-radius:8px;
}

.h1center {
    color: cadetblue;
    text-align: center;
}

.question {
    margin: 2px 0px 0px 20px;
    height: 280px;
    font-size: 20px;
}

.questionButtons {
    width: 300px;
    margin: 0 auto;
}

.eventRow:hover {
    background-color:lightgray;
    cursor:pointer;
}

.addSong {
    cursor: pointer;
    margin:20px;
}

.djDiv {
    width: 350px;
}

.djsOverview {
    display: inline-block;
}

.loginDiv {
    background-color: cornflowerblue;
    border-radius: 25px;
    padding: 50px;
    width: 350px;
    height: 450px;
}

.registerDiv {
    background-color: cornflowerblue;
    border-radius: 25px;
    padding: 10px;
    width: 350px;
    height: 450px;
}

.loader {
    border-top: 16px solid lightblue;
    border-right: 16px solid lightgreen;
    border-bottom: 16px solid yellow;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loaderDiv {
    position: absolute;
    top: 35%;
    left: 50%;
}