<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/UserProfile/userProfile.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/UserProfile.css">
</head>

<body class="body-content">
    <div ng-controller="userProfileController">
        <div ng-if="loading" class="loaderDiv">
            <div class="loader"></div>
            <h2>Loading...</h2>
        </div>
        <div ng-if="!loading">
            <center>
                <h1 class="title">My Profile</h1>
                <div class="message">
                    <h4>Let us know what's important for you and we will find you the</h4>
                    <h4>BEST DJ</h4>
                </div>
            </center>
            <div ng-repeat="question in questions track by $index" ng-if="$index == currentIndex">
                <h3>{{question.ID}}. {{question.Text}}</h3>
                <form id="{{'answers'+ question.ID}}" class="question" ng-if="question.Answers.length> 0">
                    <div ng-repeat="answer in question.Answers">
                        <input type='checkbox' name={{question.ID}} ng-model="userAnswers[answer.ID]" ng-if="question.type == 'checkbox'" />
                        <input type='radio' name={{question.ID}} checked ng-value="answer.ID" ng-if="question.type == 'radio' && userAnswers[answer.ID]" />
                        <input type='radio' name={{question.ID}} ng-value="answer.ID" ng-if="question.type == 'radio' && !userAnswers[answer.ID]" /> {{answer.Text}}
                    </div>
                </form>
                <div class="question" ng-if="question.Answers.length == 0 && question.IsSingleAnswer">
                    <input type="date" ng-model="dateAnswers[question.ID]" />
                </div>
                <div class="question" ng-if="question.Answers.length == 0 && !question.IsSingleAnswer">
                    <input type="number" ng-model="dateAnswers[question.ID]" />
                </div>
                <div class="questionButtons">
                    <button type="button" class="btn previous" ng-click="previous()" ng-disabled="$index == 0">&laquo; Previous</button>
                    <button type="button" class="btn next" ng-click="next()" ng-disabled="$index == (questions.length - 1)">Next  &raquo;</button>
                    <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
