@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
        <!-- About Section -->
    <div class="w3-container w3-padding-30" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>
            Our project deals with brokering between DJs and potential customers for events.
        </p>
        <p>
            The goal of the project is to save time and money for the customer who is looking for a DJ service for the event,
            to make the DJs accessible and to bridge between them and the customer.
        </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="~/Content/Images/einav.jpg" alt="Einav" class="photo">
            <h3>Einav Zeira</h3>
            <p class="w3-opacity">Product Manager</p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="~/Content/Images/michal.jpg" alt="Michal" class="photo">
            <h3>Michal Teverovsky</h3>
            <p class="w3-opacity">Front-End Developer</p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="~/Content/Images/bar.jpg" alt="Bar" class="photo">
            <h3>Bar Vilek</h3>
            <p class="w3-opacity">Front-End Developer</p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="~/Content/Images/shir.jpg" alt="Shir" class="photo">
            <h3>Shir Zrachya</h3>
            <p class="w3-opacity">Front-End Developer</p>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="~/Content/Images/jon.jpg" alt="Jon" class="photo">
            <h3>Jon Berg</h3>
            <p class="w3-opacity">Back-End Developer</p>
        </div>
    </div>

</body>
</html>
