<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- Contact Section -->
    <center>
        <div>
            <h3 class="title">Contact</h3>
            <p>Lets get in touch and talk about your and our next project.</p>
            <form id="contactForm" onclick="{ document.getElementById('contactForm').reset() }">
                <input class="w3-input" type="text" placeholder="Name" required name="Name">
                <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
                <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
                <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
                <button class="w3-button w3-black w3-section" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </form>
        </div>
    </center>
</body>
</html>