<div id="ngView" ng-view></div>
<script>
    djApp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
            .when("/", {
                templateUrl: "/Home/HomePage.cshtml"
            })
            .when("/Events/Index", {
                templateUrl: "/Events/Index.cshtml"
            })
            .when("/Users/UserProfile", {
                templateUrl: "/Users/UserProfile.cshtml"
            })
            .when("/DJs/Index", {
                templateUrl: "/DJs/Index.cshtml"
            })
            .when("/Home/About", {
                templateUrl: "/Home/About.cshtml"
            })
            .when("/Home/Contact", {
                templateUrl: "/Home/Contact.cshtml"
            });
    }]);

</script>