@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" ng-controller="homeController">
    <h1>this is home page</h1>
    <h1>FinDJ</h1>
    <p class="lead">FinDJ is a free framework for finding a great DJ.</p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    
    <div>
        <h2> log in please </h2>
        <span>Email:    </span><input type="text" ng-model="user.email" />
        <br />
        <span>Password: </span><input type="password" ng-model="user.password" />
        <br />
        <input type="button" value="{{btntext}}" ng-click="login()" />
    </div>
    
    <<div>
        <h2> not registered? Sign up! </h2>
        <span>Name:    </span><input type="text" ng-model="newUser.name" />
        <br />
        <span>Email:    </span><input type="text" ng-model="newUser.email" />
        <br />
        <span>Password: </span><input type="password" ng-model="newUser.password" />
        <br />
        <span>Phone Num: </span><input type="number" ng-model="newUser.phoneNum" />
        <br />
        <input type="button" value="{{btnSigntext}}" ng-click="signUp()" />
    </div>
    
    <script src="~/Scripts/Home/homeController.js"></script>

</div>