@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>this is home page</h1>
    <h1>FinDJ</h1>
    <p class="lead">FinDJ is a free framework for finding a great DJ.</p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    
</div>

<div class="row">
</div>